ol,
ul,
li {
  line-height: normal;
}
section#toc > p > ol {
  list-style-type: decimal;
}
section#toc > p > ol > li > ol {
  list-style-type: lower-alpha;
}
section#toc > p > ol > li > ol > li > ol {
  list-style-type: lower-roman;
}
section#toc > p > ol > li > ol > li > ol ol {
  list-style-type: decimal;
}
