- var config = {};
block config
!!!
html(lang="en")
  head
    meta(charset="utf-8")
    title= "Mandelbrot" + (config.title ? ": " + config.title : "")
    link(type="text/css", rel="stylesheet", href="css/page.css")
    block css
    script(src="js/lib/jquery.js")
    block js
  body
    header
      #page-title
        h1 Mandelbrot
        p A Mandelbrot set visualization in HTML5 and JavaScript
    section#container
      block content
    block other
