/*!
 * The MIT License (MIT)
 * 
 * Copyright (c) 2014 Thomas J. Otterson
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

@import 'nib'

semi-transparent = rgba(30, 30, 30, 0.5)
opaque = #666
settings-label-width = 40%
info-label-width = 45%

body
  background-color black
  padding 0
  margin 0
  font-size 0.9em
  font-family sans-serif

a
  color #ccc
  text-decoration none
  &:hover
    color #fff

button
  background-color semi-transparent
  color white
  border 1px solid #666
  border-radius 4px
  outline none
  padding 5px
  text-shadow 1px 1px 2px black
  cursor pointer
  transition background-color 500ms, border-color 500ms
  &:hover:not(:disabled)
  &:focus
    background-color opaque
    border-color white
    transition background-color 500ms, border-color 500ms
  &:disabled
    background-color semi-transparent
    cursor default
    border-color semi-transparent
    color #333
    transition background-color 500ms, border-color 500ms, color 500ms

input
select
  background-color semi-transparent
  color white
  border 1px solid #666
  border-radius 4px
  outline none
  transition background-color 500ms, border-color 500ms
  &:focus
    background-color opaque
    border-color white
    transition background-color 500ms, border-color 500ms
  &:disabled
    background-color semi-transparent
    cursor default
    border-color semi-transparent
    color #333
    transition background-color 500ms, border-color 500ms, color 500ms

input
  padding 0.1em 0.5em

#mandelbrot
  absolute top 0 left 0
  z-index 0
  background-color black
  padding 0
  margin 0

.info
  background-color semi-transparent
  color white
  padding 5px
  font-size 0.75em
  text-shadow 1px 1px 2px black
  border 1px solid #666
  border-radius 4px
  h3
    margin-top 0
    margin-bottom 0.5em
    padding-bottom 0.5em
    text-align center
    border-bottom 1px solid #666
  label
    font-weight bold
    display inline-block
    width info-label-width

#control
  width 8em
  absolute bottom 5px left 5px
  font-size 0.9em

#settings
  width 34em
  absolute top 5px left 5px
  color white
  border-color #666
  label
    width settings-label-width
  .half
    padding-left settings-label-width
    label
      width (settings-label-width * 0.6)
  .coloring
    margin-top 0.4em
    > label
      float left
    > div
      margin-left settings-label-width
  header
    text-align center
    padding 5px 0
    border-bottom 1px solid #666
    h1
      margin 0
    p
      margin 0
  footer
    font-style italic
    text-align center
    padding 5px 0
    border-top 1px solid #666
  section#inputs
    padding 5px
    .buttons
      text-align center
      padding-top 5px
      button
        width 6em
    select
      width 14em
    input
      &[type="text"]
        width 13em
      &[type="checkbox"] + label
        display inline
    #cycles
    #rotation
      width 9em
    #depth
      width 6em

#render
  width 20em
  absolute top 5px right 5px

#domain
  absolute bottom 5px right 5px
