@import 'nib'

ol, ul, li
  line-height normal
section#toc > p > ol
  list-style-type decimal
  > li > ol
    list-style-type lower-alpha
    > li > ol
      list-style-type lower-roman
      ol
        list-style-type decimal
