extends includes/layout

block content

  section
    p.
      This is a project to build a Mandelbrot set renderer in JavaScript and HTML5 (okay, actually 
      <a href="http://livescript.net/">LiveScript</a> and <a href="http://jade-lang.com/">Jade</a>, but the end
      product is the same either way). <a href="mandelbrot.html">Click this link</a> to see it in action!

  section#toc
    h2 Table of Contents
    p
      ol
        li
          a(href="#") Home
          ol
            li: a(href="#guide") Quick Guide
            li: a(href="#features") Features

  section
    h2: a#guide Quick Guide
    p.
      There's a lot of detail on both the operation of the renderer and the math behind it on other pages, but for
      those who just want to get started, this section is for you.

    h3 Mouse Navigation
    p.
      Mouse navigation is pretty intuitive: click on the screen, and the page will zoom in on the point where you
      clicked. If you hold down Shift while clicking, you will instead be zoomed out. If you don't want any zooming
      at all, hold down Control (Command on Mac) and click &mdash; this will re-center the image on the point that
      you clicked without zooming at all.

    h3 Settings
    p.
      The panel on the upper left can be used to input detailed settings. The important ones are the first three:
      these are the real and imaginary coordinates of the center and the amount of zoom. These can be useful if you
      come across one of those pages with nice Mandelbrot images, because often they will give the center coordinates
      and zoom that they used to make the picture, and then you can try it yourself.
    p.
      Depth is essentially how much time the generator takes to make the image &mdash; higher numbers reveal more
      detail (detail that may not be needed if you're not zoomed in far enough) but take longer to render. There is an
      "auto" checkbox that, when checked, will figure out a reasonable depth automatically based on your zoom level.
      It's highly recommended to use this if you're just browsing around.
    p.
      Escape radius is one of the mathematical controls that will be explained more thoroughly on another page, but
      suffice it to say that you should seldom ever have need to change it (and changing it doesn't do much anyway).
      Color scheme is pretty self-explanatory. Supersamples control anti-aliasing, which smooths the image overall
      &mdash; a higher number makes the image look nicer, but it takes a lot longer to render. You should never have
      need to go above 16. Finally, Update timeout tells the renderer how often to update the image as it's drawing it.
      Raising this number will very slightly improve rendering time.
    p.
      Under the settings are three buttons. The first, Render, causes the image to be rendered with the current
      settings. This button has to be pushed any time you change any settings (including Color scheme) and want to see
      the results. Reset renders an image using the default settings. Export generates a PNG file that you can then
      save to your computer by right-clicking on it and choosing "Save Image As..." or something similar.

  section
    h2: a#features Features
    ul
      li Easy mouse-click navigation and zooming
      li Configurable center, zoom, iteration depth, anti-aliasing, divergence escape radius
      li Several different palettes of colors to choose from
      li Zoomable a long way down, limited only by floating-point precision in JavaScript (I've done 1 quadrillion)
      li Bookmarkable parameters
      li Export any image as a PNG file
